.Bread {
    display: flex;
    align-items: center;
    gap: 4px;
}

.Bread div {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: #BEBEBE;
}

.Bread div:last-child p {
    display: none;
}