.List {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.Item {
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}

.Item img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.Item div {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.Item div h3 {
    text-align: center;
    font-size: 16px;
    line-height: 140%;
    font-weight: 600;
    color: #4E4E4E;
}

.Item div p {
    text-align: center;
    font-size: 14px;
    line-height: 140%;
    font-weight: 300;
    color: #4E4E4E;
    width: 100%;
    word-break: break-all;
}