.Section {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.Row {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}